@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<E_project2025.Models.seminar>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="@item.ImageUrl" class="card-img-top" />

                <div class="card-body">
                    <h5>@item.Title</h5>
                    <p>@item.Description</p>
                    <p><b>Venue:</b> @item.Venue</p>

                    <button class="btn btn-primary"
                            onclick="registerSeminar(@item.Id)">
                        Register
                    </button>
                </div>
            </div>
        </div>
    }
</div>

<!-- SUCCESS MODAL -->
<div class="modal fade" id="successModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4 class="text-success">✔ Successfully Registered</h4>
                <p>You have been registered for this seminar.</p>
                <button class="btn btn-success" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    function registerSeminar(id) {
        $.ajax({
            url: '/Home/RegisterSeminar',
            type: 'POST',
            data: { seminarId: id },
            success: function (res) {
                if (res === "success") {
                    var modal = new bootstrap.Modal(document.getElementById('successModal'));
                    modal.show();
                }
                else if (res === "login-required") {
                    alert("Please login first");
                }
            }
        });
    }
</script>
