@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<E_project2025.Models.seminar>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow">
                <img src="~/uploads/@item.ImageUrl" class="card-img-top" />


                <div class="card-body">
                    <h5>@item.Title</h5>
                    <p><b>Venue:</b> @item.Venue</p>
                    <p><b>Date and time</b> @item.conductedon</p>
                    <p>@item.Description</p>
                   

                    <button class="btn btn-primary"
                            onclick="registerSeminar(@item.Id)">
                        Register
                    </button>
                </div>
            </div>
        </div>
    }
</div>


</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function registerSeminar(id) {
        $.ajax({
            url: '/Home/RegisterSeminar',
            type: 'POST',
            data: { seminarId: id },
            success: function (res) {

                if (res === "success") {
                    Swal.fire({
                        icon: 'success',
                        title: 'Registered!',
                        text: 'You have been successfully registered for this seminar.',
                        confirmButtonText: 'OK'
                    });
                }
                else if (res === "login-required") {
                    Swal.fire({
                        icon: 'warning',
                        title: 'Login Required',
                        text: 'Please login first to register.',
                        confirmButtonText: 'Login'
                    }).then(() => {
                        window.location.href = '/Account/Login';
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops!',
                    text: 'Something went wrong. Please try again.'
                });
            }
        });
    }
</script>

